:root {
  --button-color: var(--button-color);
}

.Button {
  background: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: var(--button-color);
  border: none;
  font-size: 100%;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
