@import "./reset.css";

@import "./variables.css";
@import "./theme.css";

@import "./typography.css";

.Main {
  min-height: 100%;
  isolation: isolate;
  background-image: var(--main-background-image);
  background-color: var(--main-background-color);
  min-height: 100vh;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  overflow-x: hidden;
}

@media (forced-colors: active) {
  .Main {
    background: none;
    background-blend-mode: none;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--main-font-body);
  line-height: var(--main-line-height-md);
  color: var(--main-color);
  font-weight: normal;
  background: var(--main-color);
}

.List {
  display: grid;
  grid-column-gap: 2rem;
}

@media (width > 550px) {
  .List {
    grid-template-columns: repeat(2, 1fr);
  }
}

.Anchor__Target,
a:not(.Anchor) {
  color: var(--anchor-color);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  background-color: var(--main-background-color);
  padding: 0 1px;
}

.Anchor {
  color: var(--anchor-color);
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: transparent;
  text-decoration: none;
  position: relative;
}

.Anchor:focus-visible,
.Anchor:focus,
.Anchor:active,
.Anchor:hover,
a:focus,
a:focus-visible,
a:active,
a:hover {
  &,
  > .Anchor__Target {
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }
}

.Anchor__Text {
  display: flex;
  align-items: center;
}

.Anchor__Text::before {
  content: "";
  height: 1px;
  background: var(--dash-color);
  width: 2rem;
  display: block;
}

.Image {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.Wrap {
  max-width: 1750px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (width > 550px) {
  .Main {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .Wrap {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (width > 950px) {
  .Main {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .Wrap {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (width > 1300px) {
  .Main {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .Wrap {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
