@import "./reset.css";

@import "./variables.css";
@import "./theme.css";

@import "./typography.css";

@import "./Button.css";

.Main {
  min-height: 100%;
  isolation: isolate;
  background-image: var(--main-background-image);
  background-color: var(--main-background-color);
  min-height: 100vh;
}

@media (forced-colors: active) {
  .Main {
    background: none;
    background-blend-mode: none;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--main-font-body);
  line-height: var(--main-line-height-md);
  color: var(--main-color);
  font-weight: normal;
  background: var(--main-color);
}

a {
  color: var(--anchor-color);
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.05em;
  background-color: var(--main-background-color);
  padding: 0 1px;
}

a:focus,
a:focus-visible,
a:active,
a:hover {
  text-decoration-thickness: 0.09em;
  text-underline-offset: 0.2em;
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.Image {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
