@font-face {
  font-family: 'Lausanne';
  src: url('/assets/fonts/Lausanne-300.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: var(--font-body);
}

.Text--large,
p,
ol,
ul,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-size: clamp(var(--font-size-sm), 4.8vw, var(--font-size-lg));
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-normal);
  padding-bottom: 1rem;
  letter-spacing: 0.025em;
  max-width: 52ch;
}

.Text--large,
h2 {
  line-height: var(--line-height-tight);
  max-width: 42ch;

  &:not(:first-of-type) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 4rem 0 1rem;
  }
}

h3 {
  padding-top: 1rem;
  font-size: var(--font-size-sm);
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  font-family: var(--font-mono);
  font-weight: 100;
}

p {
  font-size: clamp(var(--font-size-sm), 4.8vw, var(--font-size-md));
}

ul {
  display: grid;
  list-style: none;
}

ol {
  padding-left: 1.5rem;
}

ol li {
  list-style: decimal;
  margin-left: 1.5rem;
}

ul h3 {
  padding-bottom: 0.5rem;
}

small {
  font-size: var(--font-size-xs);
  font-family: menlo;

  & > a {
    display: inline;
  }
}

figcaption {
  padding: 1rem 0;

  & p {
    font-size: var(--font-size-xs);
    font-family: var(--font-mono);
  }
}

strong {
  font-weight: var(--font-weight-normal);
  position: relative;
}

/* strong::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--anchor-color-underline);
  z-index: -1;
  opacity: 0.2;
} */

.Markdown h2 {
  font-size: clamp(var(--font-size-lg), 6.5vw, var(--font-size-md));
}

/* stylelint-disable-next-line ecss/selector-unnecessary */
.Markdown ul li {
  padding-bottom: 1rem;
  max-width: 50ch;
  font-size: clamp(var(--font-size-sm), 4.8vw, var(--font-size-md));
  /* text-indent: -1.6rem; */

  /* &::before {
    content: '';
    display: inline-flex;
    width: 1.5rem;
    margin-right: 0.1rem;
    height: 1px;
    background-color: var(--anchor-color-underline);
    top: -0.5rem;
    position: relative;
  } */

  & strong::after {
    content: '';
    display: inline-flex;
    width: 1.5rem;
    margin-right: 0;
    height: 1px;
    background-color: var(--anchor-color-underline);
    top: -0.25rem;
    position: relative;
  }
}
