@font-face {
  font-family: 'Lausanne';
  src: url('/assets/fonts/Lausanne-300.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: var(--font-body);
}

.Text--large,
p,
ol,
ul,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-size: clamp(var(--font-size-sm), 5vw, var(--font-size-lg));
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-normal);
  padding-bottom: 1rem;
  letter-spacing: 0.025em;
  max-width: 52ch;
}

h2 {
  line-height: var(--line-height-tight);
  max-width: 35ch;
}

h3 {
  padding-top: 1rem;
  font-size: var(--font-size-sm);
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  font-family: var(--font-mono);
  font-weight: 100;
}

p {
  font-size: clamp(var(--font-size-sm), 5vw, var(--font-size-md));
}

ul {
  display: grid;
  list-style: none;
}

ol li {
  list-style: decimal;
}

ul h3 {
  padding-bottom: 0.5rem;
}

small {
  font-size: var(--font-size-xs);
  font-family: menlo;

  > a {
    display: inline;
  }
}

figcaption {
  padding: 1rem 0;

  p {
    font-size: var(--font-size-xs);
    font-family: var(--font-mono);
  }
}
