---
import Anchor from '../components/Anchor.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Not Found" description="404 Error — this page was not found">
  <Fragment slot="masthead">
    <h2>Scheiße! The page you are looking for couldn't be found and maybe doesn't exist.</h2>

    <ul class="List">
      <li>
        <Anchor href="/" primary="Go back home" />
      </li>
    </ul>
  </Fragment>
</Layout>
