---
import Anchor from "../components/Anchor.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found" description="404 Error — this page was not found">
  <div slot="masthead">
    <h2>
      The page you are looking for couldn't be found<br /> and maybe doesn't exist.
    </h2>

    <ul class="List">
      <li>
        <Anchor href="/" primary="Go back home" />
      </li>
    </ul>
  </div>
</Layout>
