---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matt Seccafien">
  <ul class="List" slot="masthead">
    <li>
      <h3>Colophon</h3>
      <ul>
        <li>Set in Lausanne type.</li>
        <li>Built with Astro.</li>
        <li>Written in TypeScript.</li>
        <li>Made in Berlin.</li>
      </ul>
    </li>

    <li>
      <h3>Software</h3>
      <ul>
        <li>Cursor</li>
      </ul>
    </li>

    <li>
      <h3>Hardware</h3>
      <ul>
        <li>MackBook Air (M2 2022)</li>
        <li>Magic Keyboard</li>
        <li>Magic Mouse</li>
        <li>iPad Air (5th generation)</li>
        <li>Apple Pencil</li>
      </ul>
    </li>

    <li>
      <h3>Gear</h3>
      <ul>
        <li>Apple iPhone 12 Mini</li>
        <li>Apple Watch</li>
        <li>AirPods Pro</li>
        <li>Norda 001</li>
        <li>Fuji Feather Pistrada</li>
      </ul>
    </li>
  </ul>
</Layout>
