---
import Dash from './Dash.astro'

interface Props {
  href?: string
  primary?: string
  secondary?: string | string[]
  external?: boolean
  isCurrent?: boolean
  wrap?: boolean
}

const {href, primary, secondary, external, isCurrent, wrap} = Astro.props
---

<a
  class={`Anchor ${wrap ? 'Anchor--wrap' : ''}`}
  href={href}
  target={external ? '_blank' : undefined}
  rel={external ? 'noopener noreferrer' : undefined}
  aria-current={isCurrent ? 'page' : undefined}
>
  <span class="Anchor__Primary">{primary}</span>
  {
    Array.isArray(secondary) ? (
      <span class="Anchor__Secondary">
        {secondary.map((item, index) => (
          <>
            {item}
            {index < secondary.length - 1 && <Dash />}
          </>
        ))}
      </span>
    ) : typeof secondary === 'string' ? (
      <span class="Anchor__Secondary">{secondary}</span>
    ) : null
  }
</a>
