---
import Dash from "./Dash.astro";
const currentYear = new Date().getFullYear();
---

<footer class="Footer">
  <a href="about"><small>Colophon</small></a>
  <Dash isFullWidth />
  <small>© {currentYear}</small>
  <Dash />
  <small>Cartogram Inc. </small>
</footer>

<style>
  .Footer {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1px;
  }
</style>
