---
import Dash from './Dash.astro'
import Anchor from './Anchor.astro'
const currentYear = new Date().getFullYear()
---

<footer class="Footer Wrap">
  <div class="Meta">
    <small>Pages</small>
    <Dash />
    <nav>
      <small><Anchor href="/colophon" primary="Colophon" /></small>
      <small><Anchor href="/berlin" primary="Berlin" /></small>
      <small><Anchor href="/toronto" primary="Toronto" /></small>
    </nav>
    <Dash isFullWidth />
    <small>1987-{currentYear} &copy; Cartogram</small>
  </div>

  <style></style>
</footer>
