---
import Anchor from "./Anchor.astro";

const { title, subtitle } = Astro.props;
---

<nav class="Nav" transition:persist>
  <h1 class="Nav__Title">
    <Anchor href="/" primary={title} secondary={subtitle} />
  </h1>

  <div class="Nav__Controls">
    <slot />
  </div>
</nav>
