---
import ThemeToggle from "./ThemeToggle.astro";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Current", href: "/current/" },
  { label: "Past", href: "/past/" },
];

/** Test if a link is pointing to the current page. */
const isCurrentPage = (href: string) => {
  let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
  if (pathname.at(0) !== "/") pathname = "/" + pathname;
  if (pathname.at(-1) !== "/") pathname += "/";
  return pathname === href || (href !== "/" && pathname.startsWith(href));
};

const { title } = Astro.props;
---

<nav class="Nav Wrap" transition:persist>
  <h1 class="Title"><a href="/">{title}</a></h1>
  {
    [].length > 0 && (
      <ul class="Links">
        {textLinks.map(({ label, href }) => (
          <li>
            <a aria-current={isCurrentPage(href) ? "page" : null} href={href}>
              {label}
            </a>
          </li>
        ))}
      </ul>
    )
  }
  <div class="ThemeToggle">
    <ThemeToggle />
  </div>
</nav>

<style>
  .Nav {
    z-index: var(--z-index-3);
    display: grid;
    align-items: baseline;
    padding-bottom: 1rem;
    position: relative;
    top: 0;
    transition: opacity 0.2s ease-in-out;
  }

  :global(.loaded) .Nav {
    opacity: 1;
  }

  .Nav {
    opacity: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
    transition-property: opacity, transform;
  }

  :global(.loaded) .Nav {
    opacity: 1;
  }

  .Title {
    grid-area: 1 / 1 / 4 / 3;
  }

  .Title__Text {
    background-color: var(--main-background-color);
  }

  .ThemeToggle {
    grid-area: 1 / 4 / 4 / 5;
    justify-self: end;
  }
</style>
