---
import ThemeToggle from "./ThemeToggle.astro";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Current", href: "/current/" },
  { label: "Past", href: "/past/" },
];

/** Test if a link is pointing to the current page. */
const isCurrentPage = (href: string) => {
  let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
  if (pathname.at(0) !== "/") pathname = "/" + pathname;
  if (pathname.at(-1) !== "/") pathname += "/";
  return pathname === href || (href !== "/" && pathname.startsWith(href));
};
---

<nav class="Nav">
  <h1 class="Title"><a href="/">Matt Seccafien</a></h1>
  {
    [].length > 0 && (
      <ul class="Links">
        {textLinks.map(({ label, href }) => (
          <li>
            <a aria-current={isCurrentPage(href) ? "page" : null} href={href}>
              {label}
            </a>
          </li>
        ))}
      </ul>
    )
  }
  <div class="ThemeToggle">
    <ThemeToggle />
  </div>
</nav>

<style>
  .Nav {
    display: grid;
    grid-template-columns: subgrid;
    grid-area: 1 / 1 / 1 / 5;
    align-items: center;
  }

  .Title {
    grid-area: 1 / 1 / 4 / 3;
  }

  .Title__Text {
    background-color: var(--main-background-color);
  }

  .ThemeToggle {
    grid-area: 1 / 4 / 4 / 5;
    justify-self: end;
    align-self: center;
  }
</style>
