---
const STRAVA_ACCESS_TOKEN = import.meta.env.STRAVA_ACCESS_TOKEN
const STRAVA_URL = 'https://www.strava.com/api/v3/athletes/'
const STRAVA_ATHLETE_ID = import.meta.env.STRAVA_ATHLETE_ID

const response = await fetch([STRAVA_URL, STRAVA_ATHLETE_ID, 'stats'].join('/'), {
  headers: {
    Authorization: `Bearer ${STRAVA_ACCESS_TOKEN}`,
  },
})
const data = await response.json()
const runTotals = data.ytd_run_totals
---

<small>
  {runTotals ? (runTotals.distance / 1000).toFixed(2) : ''}km YTD <a href="https://www.strava.com/athletes/59501199">
    Strava
  </a>
</small>
