---
const STRAVA_ACCESS_TOKEN = import.meta.env.STRAVA_ACCESS_TOKEN
const STRAVA_URL = 'https://www.strava.com/api/v3/athletes/'
const STRAVA_ATHLETE_ID = import.meta.env.STRAVA_ATHLETE_ID

const response = await fetch([STRAVA_URL, STRAVA_ATHLETE_ID, 'stats'].join('/'), {
  headers: {
    Authorization: `Bearer ${STRAVA_ACCESS_TOKEN}`,
  },
})

if (response.status !== 200) {
  console.log(`Failed to fetch Strava data (${response.status} ${response.statusText})`)
}

const data = await response.json()
const runTotals = data.all_run_totals
---

<small>
  {
    runTotals
      ? `${new Intl.NumberFormat('en-US', {
          style: 'unit',
          unit: 'kilometer',
          maximumFractionDigits: 2,
        }).format(runTotals.distance / 1000)} via`
      : 'Follow via '
  }
  <a href="https://www.strava.com/athletes/59501199">Strava</a>
</small>
