---
import Anchor from './Anchor.astro'
---

<h3>Speaking</h3>
<ul class="Speaking">
  <li class="List__Item">
    <span class="title">Forest for the Abstract Syntax Trees</span><br />
    <Anchor
      href="https://gitnation.com/contents/the-forest-for-the-abstract-syntax-trees"
      primary="React Advanced London"
      secondary="2021"
      external
    />
  </li>
</ul>
