---

---

<theme-toggle>
  <button class="Anchor Text--medium">
    <span class="Anchor__Target"></span>
    <span class="Anchor__Text sr-only">Theme</span>
  </button>
</theme-toggle>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button")!;

      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? "add" : "remove"](
          "theme-dark"
        );
        button.setAttribute("aria-pressed", String(dark));
      };

      button.addEventListener("click", () => setTheme(!this.isDark()));

      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains("theme-dark");
    }
  }
  customElements.define("theme-toggle", ThemeToggle);
</script>

<style>
  .Anchor__Target::after {
    content: "Dark";
  }

  :global(.theme-dark) .Anchor__Target::after {
    content: "Light";
  }
</style>
